BOT_TOKEN=put_token_from_botfather_here
ADMIN_IDS=62602216
TIMEZONE=Europe/Moscow
DB_HOST=localhost
DB_PORT=3306
DB_USER=doberalex_tbotschedule
DB_PASSWORD=put_database_password_here
DB_NAME=doberalex_tbotschedule
